### Requisiti
Per eseguire correttamente il contenuto di questo notebook è consigliabile
- una macchina con sistema operativo Linux o Windows con WSL abilitato (prefiribilmente Ubuntu)
- memoria RAM uguale o superiore a 8 GB
- installare le dipendenze python specificate in requirements e usare un ambiente virtuale python

In [ ]:
import pandas as pd
import turicreate as tc
from gensim.models import KeyedVectors

"""
    Data imports
"""
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('data/ml-100k/u.user', sep='|', names=u_cols, encoding='latin-1')
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('data/ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [18]:
frame.print_rows(num_rows=10)

+---------+----------+--------+----------------+
| user_id | movie_id | rating | unix_timestamp |
+---------+----------+--------+----------------+
|   196   |   242    |   3    |   881250949    |
|   186   |   302    |   3    |   891717742    |
|    22   |   377    |   1    |   878887116    |
|   244   |    51    |   2    |   880606923    |
|   166   |   346    |   1    |   886397596    |
|   298   |   474    |   4    |   884182806    |
|   115   |   265    |   2    |   881171488    |
|   253   |   465    |   5    |   891628467    |
|   305   |   451    |   3    |   886324817    |
|    6    |    86    |   3    |   883603013    |
+---------+----------+--------+----------------+
[100000 rows x 4 columns]

## Entity Liniking

Il riconoscimento di entita in un testo è una operazione ben conosciuta nell'ambito del Natural Language Processing e più recentemente ha subito nuovi sviluppi grazie alla disponibilità di basi di conoscenza liberamente disponibili sul web.
L'obiettivo principale di un sistema di EL è disambiguare la menzione di una entità $e$ appartenente ad una base di conoscenza $KB$ nel suo contesto.

Per poter poter estrarre le embeddings delle entità presenti occorre effettuare la mappattura dei film del dataset MovieLens con gli uri presenti nell'ontologia DBpedia. Per tale scopo si può utilizzare il tool DBPedia Lookup (query SPARQL, keyword index, ordinamento Wikipedia in-links)  ma per accorciare i tempi utilizziamo una mappattura già elaborata e disponibile online effettuata perè con uno snapshot di DBpedia del 2016.

**Riferimenti**
- [SPRank: Semantic Path-based Ranking for Top-N Recommendations using Linked Open Data](https://sisinflab.poliba.it/publications/2016/DOTD16/SPRank%20Semantic%20Path-based%20Ranking%20for%20Top-N%20Recommendations%20using%20Linked%20Open%20Data%20-%20ACM%20TIST%202016.pdf)
- [DBPedia Lookup](https://github.com/dbpedia/lookup/)
- [LODrecsys-datasets](https://github.com/sisinflab/LODrecsys-datasets/)
- [Movie-RS](https://github.com/voitijaner/Movie-RSs-Master-Thesis-Submission-Voit)

In [ ]:
!wget https://raw.githubusercontent.com/sisinflab/LODrecsys-datasets/master/Movielens1M/MappingMovielens2DBpedia-1.2.tsv -O data/LODrecsys/mappings.tsv

### Generating embeddings example

In [ ]:
from pyrdf2vec import RDF2VecTransformer
from pyrdf2vec.graphs import KG
from pyrdf2vec.embedders import Word2Vec
from pyrdf2vec.walkers import (
    AnonymousWalker,
    CommunityWalker,
    HALKWalker,
    NGramWalker,
    RandomWalker,
    WalkletWalker,
    WLWalker, # Weisfeiler-Lehman
)
from pyrdf2vec.samplers import (
    ObjPredFreqSampler,
    PredFreqSampler,
    UniformSampler,
    ObjFreqSampler,
    PageRankSampler,
)

kg = KG("https://dbpedia.org/sparql/")
# RandomWalks[depth = 4, walks_per_graph = 500], word2vec[embedding_size=200, mode=Skip-Gram]
uris = [] # uris
depth = 4
walks_per_graph = 500
random_walker = RandomWalker(depth, walks_per_graph, n_jobs=6) #  n_jobs should be adapted according to the number of cores available
transformer = RDF2VecTransformer(walkers=[random_walker], embedder=Word2Vec(size=200, sg=1), verbose=2) # sg = {0 => CBOW, 1 => SGRAM}
embeddings, literals = transformer.fit_transform(kg, uris)
transformer.save("movielens1M-dpbedia-model")

### Pretrained RDF2Vec Emmbeddings
L'addestramento di RDF2Vec può richiedere abbastanza tempo e non è stato dunque possibile in questa occassione effettuare il training e effettuare un tunning dei parametri come la dimensione degli embeddings, la profondità delle camminare e la strategie di embedding di word2vec (CBOW e Skip-Gram). Però sono disponibili vari modelli già addestrati con diversi parametri su [kgvec2go](http://kgvec2go.org/download.html).
I parametri scelti, tra quelli disponibili, per questo task sono tratti da [RDF2Vec: RDF Graph Embeddings and Their Applications](https://sisinflab.poliba.it/publications/2018/RRDDP18b/RDF2Vec-RDF-Graph-Embeddings-and-Their-Applications.pdf)

In [ ]:
# DBpedia 2021-09 500 walks, depth: 4, SG, 200 dimensions
!wget http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/classic-rdf2vec-sg-200/model.kv -O data/dbpedia/model.kv
!wget http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/classic-rdf2vec-sg-200/model.kv.vectors.npy -O data/dbpedia/model.kv.vectors.npy

In [20]:
vectors = KeyedVectors.load('data/dbpedia/model.kv')

In [36]:
mappings = pd.read_csv('data/LODrecsys/mappings.tsv', sep='\t', header = 0, names=["movie_id", "movie_name", "movie_uri"])
uris = [uri for uri in df["movie_uri"] if vectors.__contains__(uri)]

mappings = mappings[mappings.apply(lambda x: vectors.__contains__(x["movie_uri"]), axis=1)]
mappings.head()

,movie_id,movie_name,movie_uri
0,1799,Suicide Kings (1997),http://dbpedia.org/resource/Suicide_Kings
1,521,Romeo Is Bleeding (1993),http://dbpedia.org/resource/Romeo_Is_Bleeding
2,3596,Screwed (2000),http://dbpedia.org/resource/Screwed_(2000_film)
3,3682,Magnum Force (1973),http://dbpedia.org/resource/Magnum_Force
4,2635,"Mummy's Curse, The (1944)",http://dbpedia.org/resource/The_Mummy's_Curse

In [37]:
dbpedia = pd.DataFrame([vectors[uri] for uri in uris])
dbpedia.insert(loc=0, column='movie_id', value=list(mappings["movie_id"]))
dbpedia.head()

,movie_id,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,1799,0.104363,-0.030366,0.024397,0.011784,0.074084,-0.009074,0.028095,-0.009043,0.032457,...,0.061471,-0.042182,0.076538,0.005617,0.068206,-0.091303,-0.021942,-0.035422,0.027923,0.011205
1,521,0.483485,-0.238453,-0.214155,-0.149148,0.374526,-0.263988,-0.193399,-0.581973,-0.548007,...,0.561658,-0.298676,-0.075646,0.285023,0.056442,-0.493393,-0.566069,-0.659976,-0.472822,0.000019
2,3596,0.038226,-0.022396,-0.189044,0.024776,0.499730,-0.102583,-0.520485,-0.944271,0.880034,...,0.790360,0.063050,0.331688,0.235169,-0.021070,-0.379494,-0.176780,-0.252495,0.529196,0.050202
3,3682,-0.132794,-0.716965,-0.296625,-0.064314,0.312275,-0.356286,-0.392580,-0.581087,0.227907,...,0.460223,0.149874,-0.045281,0.380723,-0.158305,-0.814315,-0.640020,-0.270090,0.297235,-0.442252
4,2635,0.186714,0.010445,-0.553984,0.019468,0.908595,-0.361530,0.011017,-0.416185,0.319215,...,0.443430,0.357368,0.396677,0.371717,0.056948,-0.438682,-0.347058,-0.451110,0.106972,0.116729

In [39]:
ratings = ratings[ratings["movie_id"].isin(mappings["movie_id"])]
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
2       22       377       1       878887116
4      166       346       1       886397596
5      298       474       4       884182806
6      115       265       2       881171488

In [ ]:
ratings_frame = tc.SFrame(ratings)
item_frame =tc.SFrame(dbpedia)
# ~ 80/20 split
train_data, test_data = tc.recommender.util.random_split_by_user(ratings_frame, user_id="user_id", item_id="movie_id")
train_data2 = train_data.copy()
train_data3 = train_data.copy()

rfm_with_rdf = tc.recommender.ranking_factorization_recommender.create(train_data, user_id="user_id", item_id="movie_id", target='rating', item_data=item_frame)
rfm = tc.recommender.ranking_factorization_recommender.create(train_data2, user_id="user_id", item_id="movie_id", target='rating')
itemknn = tc.recommender.item_similarity_recommender.create(train_data3,  user_id="user_id", item_id="movie_id", similarity_type="cosine")
# rfm_with_rdf_recommendations = rfm_with_rdf.recommend()
# rfm = rfm.recommend()

In [ ]:

comparing = tc.recommender.util.compare_models(test_data, [rfm_with_rdf, rfm, itemknn], model_names=["Ranking FM with RDF2Vec embs", "Ranking FM", "ItemKnn"], metric='rmse')
# 1.0273390850597666, 1.1255684868360116

In [ ]:
print(rfm_with_rdf_recommendations)

In [ ]:
print(rfm)

In [ ]:
for c in comparing:
    print(c)

In [87]:
def evaluate(test_data, threshold=3.5, est):
    tp = 0
    fn = 0
    fp = 0
    tn = 0
    test_data_pandas = test_data.to_dataframe()
    for row in test_data_pandas.iterrows():
        row["user_id"]
        row["movie_id"]
        if row["rating"] >= threshold:
            if est(row["user_id"], row["user_id"]) >= threshold:
                tp += 1
            else:
                fn += 1
        elif est(row["user_id"], row["user_id"]) >= threshold:
            fp += 1
        else:
            tn += 1
    precision = tp / (tp + fp)
    recall = tp / (tp + fn)
    f1 = 2 * (precision * recall) / (precision + recall)

    return precision, recall, f1

(0, user_id                 196
movie_id                242
rating                    3
unix_timestamp    881250949
Name: 0, dtype: int64)
(1, user_id                  22
movie_id                377
rating                    1
unix_timestamp    878887116
Name: 1, dtype: int64)
(2, user_id                 298
movie_id                474
rating                    4
unix_timestamp    884182806
Name: 2, dtype: int64)
(3, user_id                 253
movie_id                465
rating                    5
unix_timestamp    891628467
Name: 3, dtype: int64)
(4, user_id                  62
movie_id                257
rating                    2
unix_timestamp    879372434
Name: 4, dtype: int64)
(5, user_id                 210
movie_id                 40
rating                    3
unix_timestamp    891035994
Name: 5, dtype: int64)
(6, user_id                 119
movie_id                392
rating                    4
unix_timestamp    886176814
Name: 6, dtype: int64)
(7, user_id                 167
movie_id                486
rating                    4
unix_timestamp    892738452
Name: 7, dtype: int64)
(8, user_id                 291
movie_id                118
rating                    2
unix_timestamp    874833878
Name: 8, dtype: int64)
(9, user_id                  50
movie_id                246
rating                    3
unix_timestamp    877052329
Name: 9, dtype: int64)
(10, user_id                 290
movie_id                 88
rating                    4
unix_timestamp    880731963
Name: 10, dtype: int64)
(11, user_id                   7
movie_id                 32
rating                    4
unix_timestamp    891350932
Name: 11, dtype: int64)
(12, user_id                  99
movie_id                  4
rating                    5
unix_timestamp    886519097
Name: 12, dtype: int64)
(13, user_id                  72
movie_id                679
rating                    2
unix_timestamp    880037164
Name: 13, dtype: int64)
(14, user_id                 290
movie_id                143
rating                    5
unix_timestamp    880474293
Name: 14, dtype: int64)
(15, user_id                  60
movie_id                427
rating                    5
unix_timestamp    883326620
Name: 15, dtype: int64)
(16, user_id                 127
movie_id                229
rating                    5
unix_timestamp    884364867
Name: 16, dtype: int64)
(17, user_id                 299
movie_id                229
rating                    3
unix_timestamp    878192429
Name: 17, dtype: int64)
(18, user_id                 276
movie_id                 54
rating                    3
unix_timestamp    874791025
Name: 18, dtype: int64)
(19, user_id                 222
movie_id                366
rating                    4
unix_timestamp    878183381
Name: 19, dtype: int64)
(20, user_id                  11
movie_id                111
rating                    4
unix_timestamp    891903862
Name: 20, dtype: int64)
(21, user_id                  28
movie_id                209
rating                    4
unix_timestamp    881961214
Name: 21, dtype: int64)
(22, user_id                 293
movie_id                685
rating                    3
unix_timestamp    888905170
Name: 22, dtype: int64)
(23, user_id                 166
movie_id                328
rating                    5
unix_timestamp    886397722
Name: 23, dtype: int64)
(24, user_id                 271
movie_id                132
rating                    5
unix_timestamp    885848672
Name: 24, dtype: int64)
(25, user_id                  44
movie_id                195
rating                    5
unix_timestamp    878347874
Name: 25, dtype: int64)
(26, user_id                 194
movie_id                385
rating                    2
unix_timestamp    879524643
Name: 26, dtype: int64)
(27, user_id                 222
movie_id                750
rating                    5
unix_timestamp    883815120
Name: 27, dtype: int64)
(28, user_id                 262
movie_id               1147
rating                    4
unix_timestamp    879791710
Name: 28, dtype: int64)
(29, user_id                 174
movie_id                368
rating                    1
unix_timestamp    886434402
Name: 29, dtype: int64)
(30, user_id                 299
movie_id                955
rating                    4
unix_timestamp    889502823
Name: 30, dtype: int64)
(31, user_id                 160
movie_id                135
rating                    4
unix_timestamp    876860807
Name: 31, dtype: int64)
(32, user_id                  85
movie_id                427
rating                    3
unix_timestamp    879456350
Name: 32, dtype: int64)
(33, user_id                 279
movie_id               1240
rating                    1
unix_timestamp    892174404
Name: 33, dtype: int64)
(34, user_id                  26
movie_id                930
rating                    2
unix_timestamp    891385985
Name: 34, dtype: int64)
(35, user_id                  92
movie_id               1079
rating                    3
unix_timestamp    886443455
Name: 35, dtype: int64)
(36, user_id                 125
movie_id                235
rating                    2
unix_timestamp    892838559
Name: 36, dtype: int64)
(37, user_id                  87
movie_id                554
rating                    4
unix_timestamp    879875940
Name: 37, dtype: int64)
(38, user_id                 301
movie_id                401
rating                    4
unix_timestamp    882078040
Name: 38, dtype: int64)
(39, user_id                  70
movie_id                746
rating                    3
unix_timestamp    884150257
Name: 39, dtype: int64)
(40, user_id                 233
movie_id                202
rating                    5
unix_timestamp    879394264
Name: 40, dtype: int64)
(41, user_id                 192
movie_id                476
rating                    2
unix_timestamp    881368243
Name: 41, dtype: int64)
(42, user_id                  83
movie_id                576
rating                    4
unix_timestamp    880308755
Name: 42, dtype: int64)
(43, user_id                   7
movie_id                382
rating                    4
unix_timestamp    891352093
Name: 43, dtype: int64)
(44, user_id                 286
movie_id                143
rating                    4
unix_timestamp    889651549
Name: 44, dtype: int64)
(45, user_id                 113
movie_id                595
rating                    5
unix_timestamp    875936424
Name: 45, dtype: int64)
(46, user_id                 189
movie_id                520
rating                    5
unix_timestamp    893265380
Name: 46, dtype: int64)
(47, user_id                 158
movie_id                177
rating                    4
unix_timestamp    880134407
Name: 47, dtype: int64)
(48, user_id                 302
movie_id                322
rating                    2
unix_timestamp    879436875
Name: 48, dtype: int64)
(49, user_id                  13
movie_id                198
rating                    3
unix_timestamp    881515193
Name: 49, dtype: int64)
(50, user_id                 145
movie_id                237
rating                    5
unix_timestamp    875270570
Name: 50, dtype: int64)
(51, user_id                 201
movie_id                767
rating                    4
unix_timestamp    884114505
Name: 51, dtype: int64)
(52, user_id                  95
movie_id                135
rating                    3
unix_timestamp    879197562
Name: 52, dtype: int64)
(53, user_id                 187
movie_id                 64
rating                    5
unix_timestamp    879465631
Name: 53, dtype: int64)
(54, user_id                 170
movie_id                749
rating                    5
unix_timestamp    887646170
Name: 54, dtype: int64)
(55, user_id                 184
movie_id                153
rating                    3
unix_timestamp    889911285
Name: 55, dtype: int64)
(56, user_id                   1
movie_id                160
rating                    4
unix_timestamp    875072547
Name: 56, dtype: int64)
(57, user_id                 301
movie_id                191
rating                    3
unix_timestamp    882075672
Name: 57, dtype: int64)
(58, user_id                 254
movie_id                662
rating                    4
unix_timestamp    887347350
Name: 58, dtype: int64)
(59, user_id                  94
movie_id               1224
rating                    3
unix_timestamp    891722802
Name: 59, dtype: int64)
(60, user_id                 197
movie_id                 96
rating                    5
unix_timestamp    891409839
Name: 60, dtype: int64)
(61, user_id                 180
movie_id                462
rating                    5
unix_timestamp    877544218
Name: 61, dtype: int64)
(62, user_id                   7
movie_id                163
rating                    4
unix_timestamp    891353444
Name: 62, dtype: int64)
(63, user_id                  52
movie_id                250
rating                    3
unix_timestamp    882922661
Name: 63, dtype: int64)
(64, user_id                  83
movie_id                 78
rating                    2
unix_timestamp    880309089
Name: 64, dtype: int64)
(65, user_id                 254
movie_id                436
rating                    2
unix_timestamp    886474216
Name: 65, dtype: int64)
(66, user_id                 249
movie_id                188
rating                    4
unix_timestamp    879641067
Name: 66, dtype: int64)
(67, user_id                  64
movie_id                392
rating                    3
unix_timestamp    889737542
Name: 67, dtype: int64)
(68, user_id                 125
movie_id                163
rating                    5
unix_timestamp    879454956
Name: 68, dtype: int64)
(69, user_id                 114
movie_id                505
rating                    3
unix_timestamp    881260203
Name: 69, dtype: int64)
(70, user_id                  23
movie_id                196
rating                    2
unix_timestamp    874786926
Name: 70, dtype: int64)
(71, user_id                 250
movie_id                238
rating                    4
unix_timestamp    878089963
Name: 71, dtype: int64)
(72, user_id                 181
movie_id                325
rating                    2
unix_timestamp    878961814
Name: 72, dtype: int64)
(73, user_id                  13
movie_id                892
rating                    3
unix_timestamp    882774224
Name: 73, dtype: int64)
(74, user_id                 213
movie_id                176
rating                    4
unix_timestamp    878956338
Name: 74, dtype: int64)
(75, user_id                 117
movie_id               1047
rating                    2
unix_timestamp    881009697
Name: 75, dtype: int64)
(76, user_id                  85
movie_id                259
rating                    2
unix_timestamp    881705026
Name: 76, dtype: int64)
(77, user_id                 137
movie_id                144
rating                    5
unix_timestamp    881433689
Name: 77, dtype: int64)
(78, user_id                 189
movie_id               1060
rating                    5
unix_timestamp    893264301
Name: 78, dtype: int64)
(79, user_id                 269
movie_id                246
rating                    5
unix_timestamp    891457067
Name: 79, dtype: int64)
(80, user_id                 299
movie_id                303
rating                    3
unix_timestamp    877618584
Name: 80, dtype: int64)
(81, user_id                 200
movie_id                365
rating                    5
unix_timestamp    884129962
Name: 81, dtype: int64)
(82, user_id                 235
movie_id                185
rating                    4
unix_timestamp    889655435
Name: 82, dtype: int64)
(83, user_id                 303
movie_id                200
rating                    4
unix_timestamp    879468459
Name: 83, dtype: int64)
(84, user_id                  72
movie_id                 54
rating                    3
unix_timestamp    880036854
Name: 84, dtype: int64)
(85, user_id                 193
movie_id                869
rating                    3
unix_timestamp    889127811
Name: 85, dtype: int64)
(86, user_id                 281
movie_id                338
rating                    2
unix_timestamp    881200457
Name: 86, dtype: int64)
(87, user_id                  94
movie_id                720
rating                    1
unix_timestamp    891723593
Name: 87, dtype: int64)
(88, user_id                  10
movie_id                611
rating                    5
unix_timestamp    877886722
Name: 88, dtype: int64)
(89, user_id                 131
movie_id                126
rating                    4
unix_timestamp    883681514
Name: 89, dtype: int64)
(90, user_id                 109
movie_id                  8
rating                    3
unix_timestamp    880572642
Name: 90, dtype: int64)
(91, user_id                 234
movie_id                448
rating                    3
unix_timestamp    892335501
Name: 91, dtype: int64)
(92, user_id                 288
movie_id                132
rating                    3
unix_timestamp    886374129
Name: 92, dtype: int64)
(93, user_id                 301
movie_id                 33
rating                    4
unix_timestamp    882078228
Name: 93, dtype: int64)
(94, user_id                 308
movie_id                 55
rating                    3
unix_timestamp    887738760
Name: 94, dtype: int64)
(95, user_id                  82
movie_id                508
rating                    2
unix_timestamp    884714249
Name: 95, dtype: int64)
(96, user_id                 138
movie_id                484
rating                    4
unix_timestamp    879024127
Name: 96, dtype: int64)
(97, user_id                 307
movie_id                 94
rating                    3
unix_timestamp    877122695
Name: 97, dtype: int64)
(98, user_id                  10
movie_id                  7
rating                    4
unix_timestamp    877892210
Name: 98, dtype: int64)
(99, user_id                  62
movie_id               1016
rating                    4
unix_timestamp    879373008
Name: 99, dtype: int64)
(100, user_id                 214
movie_id                478
rating                    4
unix_timestamp    891544052
Name: 100, dtype: int64)
(101, user_id                 244
movie_id                381
rating                    4
unix_timestamp    880604077
Name: 101, dtype: int64)
(102, user_id                 178
movie_id                742
rating                    3
unix_timestamp    882823833
Name: 102, dtype: int64)
(103, user_id                 246
movie_id                409
rating                    2
unix_timestamp    884923372
Name: 103, dtype: int64)
(104, user_id                  90
movie_id               1198
rating                    5
unix_timestamp    891383866
Name: 104, dtype: int64)
(105, user_id                 222
movie_id                 49
rating                    3
unix_timestamp    878183512
Name: 105, dtype: int64)
(106, user_id                   2
movie_id                292
rating                    4
unix_timestamp    888550774
Name: 106, dtype: int64)
(107, user_id                  94
movie_id               1220
rating                    3
unix_timestamp    891722678
Name: 107, dtype: int64)
(108, user_id                 192
movie_id                948
rating                    3
unix_timestamp    881368302
Name: 108, dtype: int64)
(109, user_id                  85
movie_id                588
rating                    3
unix_timestamp    880838306
Name: 109, dtype: int64)
(110, user_id                 201
movie_id               1100
rating                    4
unix_timestamp    884112800
Name: 110, dtype: int64)
(111, user_id                 158
movie_id                665
rating                    2
unix_timestamp    880134532
Name: 111, dtype: int64)
(112, user_id                 217
movie_id                  2
rating                    3
unix_timestamp    889069782
Name: 112, dtype: int64)
(113, user_id                 222
movie_id                796
rating                    4
unix_timestamp    878183684
Name: 113, dtype: int64)
(114, user_id                 267
movie_id                121
rating                    3
unix_timestamp    878970681
Name: 114, dtype: int64)
(115, user_id                 268
movie_id                 21
rating                    3
unix_timestamp    875742822
Name: 115, dtype: int64)
(116, user_id                 234
movie_id                 81
rating                    3
unix_timestamp    892334680
Name: 116, dtype: int64)
(117, user_id                 156
movie_id                661
rating                    4
unix_timestamp    888185947
Name: 117, dtype: int64)
(118, user_id                 235
movie_id                230
rating                    4
unix_timestamp    889655162
Name: 118, dtype: int64)
(119, user_id                  77
movie_id                172
rating                    3
unix_timestamp    884752562
Name: 119, dtype: int64)
(120, user_id                  49
movie_id               1003
rating                    2
unix_timestamp    888068651
Name: 120, dtype: int64)
(121, user_id                  42
movie_id               1028
rating                    4
unix_timestamp    881106072
Name: 121, dtype: int64)
(122, user_id                 197
movie_id                688
rating                    1
unix_timestamp    891409564
Name: 122, dtype: int64)
(123, user_id                  90
movie_id                258
rating                    3
unix_timestamp    891382121
Name: 123, dtype: int64)
(124, user_id                 295
movie_id                190
rating                    4
unix_timestamp    879517062
Name: 124, dtype: int64)
(125, user_id                 221
movie_id               1010
rating                    3
unix_timestamp    875246662
Name: 125, dtype: int64)
(126, user_id                 207
movie_id                318
rating                    5
unix_timestamp    877124871
Name: 126, dtype: int64)
(127, user_id                   7
movie_id                648
rating                    5
unix_timestamp    891351653
Name: 127, dtype: int64)
(128, user_id                  94
movie_id                 62
rating                    3
unix_timestamp    891722933
Name: 128, dtype: int64)
(129, user_id                 230
movie_id                304
rating                    5
unix_timestamp    880484286
Name: 129, dtype: int64)
(130, user_id                 311
movie_id                179
rating                    2
unix_timestamp    884365357
Name: 130, dtype: int64)
(131, user_id                  59
movie_id                 92
rating                    5
unix_timestamp    888204997
Name: 131, dtype: int64)
(132, user_id                 113
movie_id                126
rating                    5
unix_timestamp    875076827
Name: 132, dtype: int64)
(133, user_id                 255
movie_id               1034
rating                    1
unix_timestamp    883217030
Name: 133, dtype: int64)
(134, user_id                   6
movie_id                463
rating                    4
unix_timestamp    883601713
Name: 134, dtype: int64)
(135, user_id                 286
movie_id                298
rating                    4
unix_timestamp    875807004
Name: 135, dtype: int64)
(136, user_id                 111
movie_id                301
rating                    4
unix_timestamp    891680028
Name: 136, dtype: int64)
(137, user_id                  25
movie_id                222
rating                    4
unix_timestamp    885852817
Name: 137, dtype: int64)
(138, user_id                  83
movie_id                215
rating                    4
unix_timestamp    880307940
Name: 138, dtype: int64)
(139, user_id                  89
movie_id                216
rating                    5
unix_timestamp    879459859
Name: 139, dtype: int64)
(140, user_id                 140
movie_id                332
rating                    3
unix_timestamp    879013617
Name: 140, dtype: int64)
(141, user_id                 201